<form class={{style.messageBlock}}>
  <img class={{style.attachIcon}} src="../../../static/img/attach.png" alt="Attach">
  <input
    class={{style.msg}}
    type="text"
    placeholder="Write a message..."
    name="message"
  />
  <img class={{style.smileIcon}} src="../../../static/img/smile.png" alt="Smile" style="width:20px;height:auto;"></img>
        <img class={{style.mediaIcon}} src="../../../static/img/media.png" alt="Media" style="width:20px;height:auto;"></img>
</form>
