<div class={{style.header}}>
  <div class={{style.image-cropper}}>
    {{{myAva}}}
  </div>
  <div class={{style.nameSettings}}>
    <div class={{style.name}}>{{name}}</div>
    <div class={{style.image-cropper}}>
      {{{settingsAva}}}
    </div>
  </div>
</div>
