<div class="header">
  <div class="image-cropper">
    {{{myAva}}}
  </div>
  <div class="nameSettings">
    <div class="name">{{name}}</div>
  </div>
  <div class="buttons">
    <dialog>
      {{{chatName}}}
      {{{createChatBtn}}}
      {{{closeBtn}}}
    </dialog>
    {{{addChatAva}}}
    <div class="image-cropperSet">
      {{{settingsAva}}}
    </div>
  </div>
</div>
