<div class="chats">
  <div class="avatar">
    <img src="{{path}}" />
  </div>
  <div class="data">
    <div>
      <div class="contactName {{activeChat}}" id={{{id}}}>{{title}}</div>
      <div class="date">{{lastMsgTime}}</div>
    </div>
    <div>
      <div class="lastMsg">
        {{!-- {{#unless lastMsgIsInbox}}<span>You: </span>{{/unless}} --}}
        {{lastMsgText}}
      </div>
      {{!-- {{#if unreadNumber}}<div
          class="unreadNumber"
        >{{unreadNumber}}</div>{{/if}} --}}
    </div>
  </div>
</div>
