<div class={{style.authorization-container}}>
  {{{header}}}
  <div class="main">
    {{{form}}}
    <div id="forgot">
      <a href="src/pages/errors/404/404.html">Forgot password</a>
    </div>
    <h3>Not a user</h3>
    {{{firstButton}}}
    {{{secondButton}}}
  </div>
</div>
