<div class={{style.authorization-container}}>
  {{{header}}}
  <div class="main">
    {{{form}}}
    <div class={{forgot}}>
      <a href="src/pages/errors/404/404.html">Forgot password</a>
    </div>
    {{{firstButton}}}
    <h4>Not a user</h4>
    {{{secondButton}}}
  </div>
</div>
