<div class="authFormCont">
  <div class="authForm">
    {{{logo}}}
    {{{form}}}
    {{{link}}}
    <div class="buttonsCont">
      {{{signInBtn}}}
      <p>Not a user?</p>
      {{{signUpBtn}}}
    </div>
  </div>
</div>
