<div class={{style.profile-container}}>
  {{{header}}}
  <div class="main_profile">
    <div class={{style.box}}>
      {{{avatar}}}
    </div>
    {{{form}}}
    {{{passwords}}}
    <div class="buttons">
      {{{save}}}
      {{{cancel}}}
    </div>
  </div>
</div>
