<div class="pfFormCont">
  <div class="pfForm">
    {{{myAva}}}
    {{{userDataForm}}}
    <div class="buttonCont">
      {{{confirmBtn}}}
      {{{cancelBtn}}}
    </div>
    {{{passForm}}}
    <div class="buttonCont">
      {{{confirmPassBtn}}}
      {{{cancelPassBtn}}}
    </div>
  </div>
</div>
