<div class={{style.chatListContact}}>
  <div class={{style.logo}}>
    <img src={{logo}} />
  </div>
  <div class={{style.data}}>
    <div>
      <div class={{style.contact}}>{{contact}}</div>
      <div class={{style.date}}>{{lastMsgTime}}</div>
    </div>
    <div>
      <div class={{style.lastMsg}}>
        {{#unless lastMsgIsInbox}}<span>You: </span>{{/unless}}
        {{lastMsgText}}
      </div>
      {{#if unreadNumber}}<div
          class={{style.unreadNumber}}
        >{{unreadNumber}}</div>{{/if}}
    </div>
  </div>
</div>
