<div class="header">
  <div class="nameSettings">
    <div class="name">{{name}}</div>
    <div class="buttons">
      {{{addUserAva}}}
    <dialog id="userDialog">
      {{{userID}}}
      {{{addUserBtn}}}
      {{{closeBtn}}}
    </dialog>
    <div class="image-cropperSet">
      {{{settingsAva}}}
    </div>
  </div>
</div>
