
<div id="wrapper">
        <div id="chatsList">
          <div class="chatListContact">
            <div class="image-cropper">
              <img src="../../../static/img/avatars/bestFriend.png" alt="Best Friend"></img>
            </div>
            <div class="nameLastMsg">
              <p>Best Friend</p>
              <p>{{lastMessage}}</p>
            </div>
          </div>
          {{#myContacts}}
          <div class="chatListContact">
            <div class="image-cropper">
              <img src="{{avatar}}" alt="Best Friend"></img>
            </div>
            <div class="nameLastMsg">
              <p>{{name}}</p>
              <p>{{lastMsg}}</p>
            </div>
          </div>
          {{/myContacts}}
        </div>
      <div id="chat">
        <div id="contact">
          <p>Best Friend</p>
          <div class="settings"></div>
        </div>
        <div id="messages">
          {{#bestfriendChat}}
          <div isInbox="{{isInbox}}">{{msgText}}</div>
          {{/bestfriendChat}}
        </div>
        <div id="messageBlock">
          <img src="../../../static/img/attach.png" alt="Attach" style="width:20px;height:auto;"></img>
          <div id="messageHolder">
        <input type="text" id="message" name="message" placeholder="Write a message..." />
        </div>
        <img src="../../../static/img/smile.png" alt="Smile" style="width:20px;height:auto;"></img>
        <img src="../../../static/img/media.png" alt="Media" style="width:20px;height:auto;"></img>
        </div>
      </div>
      <!-- <div id="setBtn">
        {{> button value=btns.setBtn href="'../settings/settings.html'"}}
      </div> -->
    </div>
