<div class={{style.settings}}>
  <img class={{style.settings-img}} src={{avaPath}} width={{width}} />
  <div class={{style.settings-content}}>
    {{!-- {{{profile}}}
    {{{logOut}}} --}}
    <a href="#">Profile</a>
    <a href="#"><b>Log Out</b></a>
  </div>
</div>
